doctype html

html
    head
        block head
            meta(charset='UTF-8')
            meta(name='viewport' content='width=device-width, initial-scale=1.0')
            title Natours | #{title}
            link(rel='stylesheet' href='/css/style.css ')
            link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
            link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')



    body
        // HEADER
        include _header
        // CONTENT
        block content
            h1 placeholder 

        // FOOTER
        include _footer

        script(src='/js/mapbox.js')